body, * {
    font-family: 'Montserrat', sans-serif;
}
h1 {
    font-weight: 700
} 
h2, h3, h4 {
    font-weight: 600
} 

nav {
    a {
        text-decoration: none;
        &:hover {
            text-decoration: underline;;
        }
    }
}
.page-wrapper {
    line-height: 1.7rem;;
    p {
        small {
            font-size: 14px;
        }
    }
}